.main {
    width: 100%;
    position: fixed;
    background-color: transparent;
    transition: 0.5s;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}
.main:hover{
    background-color: #43474D;
}
.item {
    display: flex;
    align-items: center;
    height: 60px;
    color: #EFEDE7;
    padding-right: 20px;
    padding-left: 20px;
    transition: 1s;
    cursor: pointer;
}
.item:hover{
    background-color: #979082;
}