.main {
    background-color: #2d2d2b;
}
// .animation:hover {
//     width: 100px;
//     height: 200px;
//     background-color: transparent;
// }
.recommand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6e7376;
    height: 600px;
}
.hello {
    font-size: 45px;
    color: #efe6d9;
    text-align: center;
}
.bio {
    font-size: 25px;
    color: #EFEDE7;
}
.profileImg{
    height: 400px;
    opacity: 0.94;
}
.profileImgTranform{
    height: 300px;
    opacity: 0.94;
    transform: scale(0.8);
}
